# Node modules
node_modules/

# Environment variables
.env

# Terraform files
terraform/.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
.terraform/

# Local uploads
uploads/

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db